* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.scroll-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease, transform 3s ease;
}

.scroll-animation.visible {
  opacity: 1;
  transform: translateY(0);
}